<%= render 'shares/modal_dialog', id: 'update-profile-modal', title: 'Edit Profile' do %>
  <%= form_with(model: @user, url: profile_path(@user), data: { controller: 'profile-form', action: 'submit->profile-form#validate' }, class: 'flex flex-col items-stretch gap-4') do |form| %>
  <div class="space-y-1 flex gap-2 items-center">
    <div class="w-20 h-20 rounded-full overflow-hidden border border-gray-300">
      <% if @user.avatar.attached? %>
      <%= image_tag url_for(@user.avatar), alt: "Profile Avatar", class: "w-full h-full object-cover", id: "avatar-preview" %>
      <% else %>
      <div class="w-full h-full bg-gray-200 flex items-center justify-center text-gray-500" id="avatar-placeholder">
        No Image
      </div>
      <img src="#" alt="Profile Avatar Preview" class="w-full h-full object-cover hidden" id="avatar-preview">
      <% end %>
    </div>
    <%= form.label :avatar, "Change", class: "cursor-pointer hover:text-blue-700 py-2 px-4" %>
    <%= form.file_field :avatar, class: "hidden", accept: "image/*", data: { profile_form_target: "avatarInput", action: "change->profile-form#previewAvatar" } %>
  </div>

  <div>
    <%= render(::TextInputComponent.new(
          input_options: { type: 'text', placeholder: 'Enter first name', value: @user.first_name, data: { profile_form_target: 'firstName' } },
          p_options: { data: { profile_form_target: 'firstNameError' } },
          id: 'first_name', label: 'First Name *', name: :first_name))%>

    <%= render(::TextInputComponent.new(
          input_options: { type: 'text', placeholder: 'Enter last name', value: @user.last_name, data: { profile_form_target: 'lastName' } },
          p_options: { data: { profile_form_target: 'lastNameError' } },
          id: 'last_name', label: 'Last Name *', name: :last_name))%>
  </div>

  <div class="space-y-3 w-full">
    <%= form.submit 'Save', class: 'primary-button w-full' %>
  </div>
  <% end %>
<% end %>