<div class="pb-10 min-h-dvh flex justify-center">
  <div class="flex-1">
    <%= render partial: 'shares/top_menu' %>

    <%= render(::BoxComponent.new(options: { class: 'py-6 mt-4' })) do %>

      <div class="px-6">
        <h1 class="text-4xl">Profile</h1>
        <p class="text-stone-500">Share your information.</p>
      </div>
      <div class="px-6 flex items-center justify-center mt-8">
        <div class="w-32 h-32 rounded-full overflow-hidden mb-3 border border-gray-300">
          <% if @user.avatar.attached? %>
          <%= image_tag url_for(@user.avatar), alt: "Profile Avatar", class: "w-full h-full object-cover" %>
          <% else %>
          <div class="w-full h-full bg-gray-200 flex items-center justify-center text-gray-500">
            No Image
          </div>
          <% end %>
        </div>
      </div>
      <div class="px-6">
        <h2 class="text-2xl font-bold text-center"><%= @user.name %></h2>
        <p class="text-gray-600 text-center"><%= @user.email %></p>
      </div>

      <div class="bg-stone-50 p-5 mt-8">
        <div class="grid grid-cols-2 gap-y-2">
          <span class="text-gray-600">First Name:</span>
          <span class="font-medium"><%= @user.first_name %></span>

          <span class="text-gray-600">Last Name:</span>
          <span class="font-medium"><%= @user.last_name %></span>
        </div>
      </div>

      <div class="flex justify-center px-5 mt-8">
        <button class="primary-button w-full text-center" data-controller="open-modal-button"
                data-open-modal-button-modal-outlet="#update-profile-modal" data-action="click->open-modal-button#open">Edit
          Profile</button>
      </div>
    <% end %>

  </div>
</div>

<%= render 'profiles/update_profile_modal' %>