<div class="py-10 min-h-dvh flex items-center justify-center">
	<div class="space-y-5">
		<%= render(::BoxComponent.new(options: { class: 'px-6 pt-12 pb-6 w-4xs' })) do %>
			<%= render(::LogoComponent.new) %>
			<h4 class="text-center mt-6 mb-5 font-serif">Reset Your Password</h4>

			<%= form_with(url: password_resets_path, data: { controller: 'password-resets', action: 'submit->password-resets#validate' }, class: 'flex flex-col items-stretch gap-7 mt-8', local: true) do |form| %>
				<%= render(
					::TextInputComponent.new(
						input_options: { type: 'email', placeholder: 'Enter email address', data: { password_resets_target: 'email' } },
						p_options: { data: { password_resets_target: 'emailError' } },
						id: 'email', label: 'Email *', name: :email)) %>

				<%= form.submit 'Send Reset Instructions', class: 'primary-button' %>
			<% end %>
		<% end %>

		<%= render(::BoxComponent.new(options: { class: 'px-6 py-4' })) do %>
			<p class="text-sm">Recall your password? <a href="<%= signin_path %>" class="text-blue-600">Sign in</a></p>
		<% end %>
	</div>
</div>
