<%
  type ||= "notice"
  message ||= ""
  
  config = {
    "notice" => {
      title: "Success",
      color: "green-500",
			icon: '<path d="M 256 48 Q 313 48 360 76 L 360 76 L 360 76 Q 407 103 436 152 Q 464 201 464 256 Q 464 311 436 360 Q 407 409 360 436 Q 313 464 256 464 Q 199 464 152 436 Q 105 409 76 360 Q 48 311 48 256 Q 48 201 76 152 Q 105 103 152 76 Q 199 48 256 48 L 256 48 Z M 256 512 Q 326 511 384 478 L 384 478 L 384 478 Q 442 444 478 384 Q 512 323 512 256 Q 512 189 478 128 Q 442 68 384 34 Q 326 1 256 0 Q 186 1 128 34 Q 70 68 34 128 Q 0 189 0 256 Q 0 323 34 384 Q 70 444 128 478 Q 186 511 256 512 L 256 512 Z M 369 209 Q 383 192 369 175 Q 352 161 335 175 L 224 286 L 224 286 L 177 239 L 177 239 Q 160 225 143 239 Q 129 256 143 273 L 207 337 L 207 337 Q 224 351 241 337 L 369 209 L 369 209 Z" />'
    },
    "alert" => {
      title: "Error",
      color: "red-500",
			icon: '<path d="M 256 48 Q 313 48 360 76 L 360 76 L 360 76 Q 407 103 436 152 Q 464 201 464 256 Q 464 311 436 360 Q 407 409 360 436 Q 313 464 256 464 Q 199 464 152 436 Q 105 409 76 360 Q 48 311 48 256 Q 48 201 76 152 Q 105 103 152 76 Q 199 48 256 48 L 256 48 Z M 256 512 Q 326 511 384 478 L 384 478 L 384 478 Q 442 444 478 384 Q 512 323 512 256 Q 512 189 478 128 Q 442 68 384 34 Q 326 1 256 0 Q 186 1 128 34 Q 70 68 34 128 Q 0 189 0 256 Q 0 323 34 384 Q 70 444 128 478 Q 186 511 256 512 L 256 512 Z M 256 128 Q 234 130 232 152 L 232 264 L 232 264 Q 234 286 256 288 Q 278 286 280 264 L 280 152 L 280 152 Q 278 130 256 128 L 256 128 Z M 288 352 Q 288 338 279 329 L 279 329 L 279 329 Q 270 320 256 320 Q 242 320 233 329 Q 224 338 224 352 Q 224 366 233 375 Q 242 384 256 384 Q 270 384 279 375 Q 288 366 288 352 L 288 352 Z" />'
    },
  }
	
	style = config[type] || config["notice"]
  title = style[:title]
  color = style[:color]
	icon = style[:icon]
%>

<!-- These classes are using to style the flash messages: border-red-500 border-green-500 -->
<div class="p-1 slide-in-bottom" data-controller="flash-message">
	<div class="border-l-8 border-<%= color %> rounded-md shadow w-full p-2 flex gap-3 items-stretch bg-white text-stone-600">
		<div class="pt-1.5 shrink-0 text-<%= color %>">
			<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 512 512">
				<%= raw icon %>
			</svg>
		</div>
		<div class="flex-1">
			<p class="font-semibold text-xl"><%= title %></p>
			<p class="text-xs"><%= message %></p>
		</div>
		<div class="flex items-center justify-center">
			<button class="icon-button shrink-0" type="button" aria-label="Close" data-action="click->flash-message#close">
				<svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 512 512">
					<path
								d="M 490.5389221556886 73.58083832335329 Q 512 47.52095808383233 490.5389221556886 21.461077844311376 Q 464.47904191616766 0 438.4191616766467 21.461077844311376 L 256 203.88023952095807 L 256 203.88023952095807 L 73.58083832335329 21.461077844311376 L 73.58083832335329 21.461077844311376 Q 47.52095808383233 0 21.461077844311376 21.461077844311376 Q 0 47.52095808383233 21.461077844311376 73.58083832335329 L 203.88023952095807 256 L 203.88023952095807 256 L 21.461077844311376 438.4191616766467 L 21.461077844311376 438.4191616766467 Q 0 464.47904191616766 21.461077844311376 490.5389221556886 Q 47.52095808383233 512 73.58083832335329 490.5389221556886 L 256 308.11976047904193 L 256 308.11976047904193 L 438.4191616766467 490.5389221556886 L 438.4191616766467 490.5389221556886 Q 464.47904191616766 512 490.5389221556886 490.5389221556886 Q 512 464.47904191616766 490.5389221556886 438.4191616766467 L 308.11976047904193 256 L 308.11976047904193 256 L 490.5389221556886 73.58083832335329 L 490.5389221556886 73.58083832335329 Z" />
				</svg>
			</button>
		</div>
	</div>
</div>