<a class="w-8 h-8 mt-1.5 rounded-sm overflow-hidden" href="#">
	<img src="<%= url_for(chat.sender.avatar) %>" alt="Avatar" class="w-full h-full object-cover">
</a>
<div class="flex flex-col">
	<div class="flex items-baseline gap-1">
		<strong><%= chat.sender.name %></strong>
		<time class="text-xs text-gray-500" datetime="<%= chat.created_at %>">
			<% if chat.created_at > 1.day.ago %>
				<%= time_ago_in_words(chat.created_at) %> ago
			<% else %>
				<%= chat.created_at.strftime("%H:%M") %>
			<% end %>
		</time>
	</div>
	<p class="text-gray-600"><%= chat.message %></p>
</div>