<div data-chat-id="<%= chat.id %>" data-user-id="<%= chat.sender.id %>" class="flex gap-3" data-chats-target="newChat">
	<a class="w-8 h-8 mt-1.5 rounded-full shrink-0 overflow-hidden" href="#">
		<%= render partial: 'rooms/user_avatar', locals: { user: chat.sender } %>
	</a>
	<div class="flex flex-col text-base font-sans flex-1">
		<div class="flex items-baseline justify-between">
			<p class="text-stone-950"><%= chat.sender.name %></p>
			<time class="text-xs text-stone-400" datetime="<%= chat.created_at %>">
				<% if chat.created_at > 1.day.ago %>
				<%= time_ago_in_words(chat.created_at) %> ago
				<% else %>
				<%= chat.created_at.strftime("%H:%M") %>
				<% end %>
			</time>
		</div>
		<p class="text-stone-500"><%= chat.message %></p>
	</div>
</div>