<div class="min-h-dvh flex items-center justify-center py-4">
	<div class="px-8 py-8 space-y-5 rounded-xl bg-white min-w-[330px]">
		<% if @joined_rooms.any? %>
		<div class="space-y-2">
			<h2 class="text-2xl">My Rooms</h2>
			<div class="space-y-2">
				<% @joined_rooms.each do |room| %>
				<a href="<%= room_path(room) %>" class="block hover:underline">
					<%= room.name %>
				</a>
				<% end %>
			</div>
		</div>
		<% end %>
		<div class="space-y-2">
			<h2 class="text-2xl">Available Rooms</h2>
			<div class="space-y-2">
				<% @not_joined_rooms.each do |room| %>
				<a href="<%= room_path(room) %>" class="block hover:underline">
					<%= room.name %>
				</a>
				<% end %>
			</div>
		</div>
		<div data-controller="modal">
			<button class="primary-button w-full" data-action="click->modal#open" data-modal-target="button">
				+ Create Room
			</button>
		</div>
	</div>
</div>

<%= render 'rooms/create_room_modal' %>