<div data-controller="room" class="h-dvh px-4 overflow-auto" id="chat-viewport">
	<div class="flex flex-col gap-4">
		<div data-room-target="membersPanel" class="bg-white border-b z-1 border-b-gray-400 shrink-0 sticky top-0 grow-0 basis-8 overflow-hidden">
			<div class="flex items-center justify-between">
				<h1 class=""><strong><%= @room.name %></strong></h1>
				<button data-room-target="closeButton" data-action="click->room#handleCloseButtonClick" class="border-0 bg-none shrink-0 grow-0 flex items-center justify-center w-8 h-8 cursor-pointer">X</button>
			</div>
			<h2><strong>Members</strong></h2>
			<ul class="mb-4">
				<% @room.users.each do |member| %>
					<li>
						<%= member.name %>
					</li>
				<% end %>
			</ul>
		</div>

		<div class="flex-1" id="room_chats" data-controller="chats">
			<%= render partial: "chats/chat" , collection: @room.chats %>
		</div>

		<div class="shrink-0 grow-0 sticky bottom-0 bg-white border-t border-t-gray-400 py-3 flex flex-col gap-3">
			<turbo-frame id="create_text_form">
				<%= form_with model: @room, class: "flex gap-3 items-center", url: create_text_room_chats_path(@room), method: :post, data: { turbo: true } do |f| %>
					<%= f.text_field :message, class: "border-gray-400 border flex-1", placeholder: "Type your message here..." %>
					<%= f.submit "Send Message" %>
				<% end %>
			</turbo-frame>

			<turbo-frame id="create_file_form">
				<%= form_with model: @room, url: create_file_room_chats_path(@room), method: :post, html: { multipart: true }, data: { turbo: true } do |f| %>
					<%= f.file_field :file_attachment, direct_upload: true %>
					<progress value="0" max="100" data-room-target="uploadProgress" style="display: none;"></progress>
					<%= f.submit "Upload File" %>
				<% end %>
			</turbo-frame>
		</div>
	</div>
</div>

<%= turbo_stream_from @room, :chats %>