<div id="chat-room" data-room-id="<%= @room.id %>" data-logged-in-user-id="<%= current_user.id %>"></div>
<%= json_script_tag(current_user, id: 'logged-in-user') %>
<script id="current-user-data" type="application/json">
  {
    "id": <%= current_user.id %>,
    "name": "<%= current_user.name %>",
    "avatar": "<%= current_user.avatar_url || ''  %>"
  }
</script>
<script type="module" src="/chat-room/index.js"></script>