<div class="min-h-dvh flex items-center justify-center">
	<div class="px-8 py-12 rounded-xl bg-white min-w-[320px]">

		<h1 class="font-bold text-4xl">Sign In</h1>

		<%= form_with(url: signin_path, class: 'flex flex-col items-stretch gap-7 mt-8', scope: :session, local: true, data: { controller: 'signin', action: 'submit->signin#validate' }) do |form| %>
		<% if flash[:alert] %>
		<div class="text-red-500">
			<%= flash[:alert] %>
		</div>
		<% end %>

		<div class="space-y-1">
			<label for="email" class="block">Email</label>
			<%= form.email_field :email, id: "email", class: "text-input", placeholder: "Email input", data: { signin_target: 'email' } %>
			<div id="email-error" class="text-red-500 text-sm hidden" data-signin-target="emailError">Valid email is required.</div>
		</div>

		<div class="space-y-1">
			<label for="password" class="block"><%= form.label :password %></label>
			<%= form.password_field :password, id: "password", class: "text-input", placeholder: "Password input", data: { signin_target: 'password' } %>
			<div id="password-error" class="text-red-500 text-sm hidden" data-signin-target="passwordError">Password is required.</div>
		</div>

		<div class="space-y-3 w-full">
			<%= form.submit 'Log In', class: 'primary-button w-full' %>
			<a href="<%= new_password_reset_path %>" class="text-sm block">Forgot password?</a>
		</div>
		<% end %>

	</div>
</div>